/* (# is used for access Id ) & ( dot . is used for accesing CLASS) */

/* body{
    background-color:rgb(151, 196, 196);
}

button{
    color:crimson;
}
/* h1{
    color:"gre";
    background: #18e618;
}          */
/* #heading{      
    color: yellow;
    background-color: blue;
}

.foot{
    color: orangered;
    background-color: black;
}  */

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    color: gainsboro;
    background-color: darkolivegreen;
    margin: 10px;
    justify-content: center;
    padding-top: 50px;
    font-size: larger;
}